<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="assets/css/littel.css" />

        <style>
            body {
                font-size: var(--f-0);
            }
        </style>
    </head>
    <body>

        <div class="ltl-page">
            <section class="ltl-section">
                <div class="ltl-container">
                    <h1>Littel Framework is the best</h1>
                    <p class="style-1">Really it is.</p>
                    <hr>
                    <h1 class="t-heading">Heading</h1>
                    <h2 class="t-sub-heading">Sub-Heading</h2>
                    <h3 class="t-section-heading">Section Heading</h3>
                    <h4 class="t-para-heading">Para Heading</h4>

                    <p class="t-text">This is the main text that we'll test for the actual page size things. Like we need this to work pretty well. </p>

                </div>
            </section>
        </div>

    </body>
</html>
